<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application>

        <receiver
            android:name=".recorder.CallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>

        </receiver>

        <receiver
            android:name="core.threebanders.recordr.recorder.ControlRecordingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="net.synapticweb.callrecorder.START_RECORDING" />
                <action android:name="net.synapticweb.callrecorder.STOP_SPEAKER" />
                <action android:name="net.synapticweb.callrecorder.START_SPEAKER" />
            </intent-filter>
        </receiver>

        <service android:name=".recorder.RecorderService" />
    </application>

</manifest>